<div class="main">
  <div class="container">
          <div class="middle">
              <div id="login">

                  <form  novalidate="">
                      <fieldset class="clearfix">
                          <div class="form-group">
                              <p><span class="fa fa-user"></span>
                                  <input type="text"  class="form-control"
                                         autofocus
                                         class="fadeIn second"
                                         name="email" placeholder="Correo"
                                         required
                                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                         ></p>
                              <!-- JS because of IE support; better: placeholder="Username" -->
                          </div>
                          <div class="form-group">
                              <p><span class="fa fa-lock"></span>
                                  <input class="form-control"
                                         type="password"
                                         id="password"
                                         
                                         class="fadeIn third"
                                         name="password" placeholder="Contraseña"
                                         minlength="5"
                                         required
                                         >
                              </p> <!-- JS because of IE support; better: placeholder="Password" -->
                          </div>
                          <div>
                              <span style="width:100%; font-size:small;color: white;text-align:left;  display: inline-block; margin-bottom:10px ">
                                  <a class="small-text"></a></span>
                          </div>
                          <div>
                          <span style="width:50%; text-align:right;  margin-left: 50%;display: inline-block;">
                                  <input type="submit"
                                         value="Entrar"
                                         ></span>
                          </div>

                      </fieldset>
                      <div class="clearfix"></div>
                  </form>

              </div> <!-- end login -->


          </div>
     </div>

</div>
